
body{
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    align-items: center;
}
.header{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    align-content: center;
    background-color: whitesmoke;
    padding: 10px 380px 10px 380px;
    margin: 0px 0px 10px 0px;
    color: #282828;
    text-align: center;
}
body>.header>article{
    animation-name: fadeIn;
    animation-duration: 2s;
}

.name{
    background-color: #252525;
    margin: 50px 0px 0px 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif!important;
}


svg{
    position: center;
    margin: 50px 0px 0px 0px;
    width: 1200px;
    height: 500px;
}
.text-copy {
  fill: #252525;
  border-color: none;
  fill-opacity: 0.3;
  stroke: white;
  stroke-dasharray: 7% 28%;
  display: inline-block;
  stroke-width: 4px; 
  -webkit-animation: stroke-offset 10s infinite linear;
          animation: stroke-offset 10s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #736aff;
  stroke-dashoffset: 10%;
}
.text-copy:nth-child(2) {
  stroke: #f6358a;
  stroke-dashoffset: 20%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 30%;
}
.text-copy:nth-child(4) {
  stroke: ghostwhite;
  stroke-dashoffset: 40%;
}
.text-copy:nth-child(5) {
  stroke: #3bb9ff;
  stroke-dashoffset: 50%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 60%;
    stroke-dasharray: 2 10%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 60%;
    stroke-dasharray: 2 10%;
  }
}
