body{
    background-color: #282828;
    text-align: left;   
    font-family: 'Josefin Slab', serif;
    align-items: center;
}
.box{  
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-color: #282828;
    outline-offset: 0pt;
    color: white;
    font-size: 4em;
    }
.me{
    padding: 0px 0px 0px 20px;
}    
body>article>a{
    position: relative;
}  

.aboutme{
    text-align: center;
    font-size: 0.4em;
    color: #545b5f;
    padding: 10px 15px 10px 15px;
}

body>article>a>img{
    opacity: 0.5;
    position: relative;
    border: none;
}
body>article>a>img:hover{
    opacity: 1.0;
}

@keyframes bounceFront {    
    0%{
        transform: translate(-100px,50px);
    }
    10%{
        transform: translate(150px,0px);
    }
    20% {
        transform: translate(250px,50px);
    }
    30% {
        transform: translate(350px,0px);
    }
    40% {
        transform: translate(450px,50px);
    }
    50%{
        transform: translate(550px,0px);
    }
    60% {
        transform: translate(650px,50px);
    }
    70% {
        transform: translate(750px,0px);
    }
    80% {
        transform: translate(850px,50px);
    }
    100% {
        transform: translate(1500px,0px);
    }
}



.dot {
    text-shadow: white;  
    text-align: left;
    padding: 0px 0px 0px 0px;
    animation: bounceFront 1.9s infinite linear;
    font-weight: bold;    
}


.caption {
    font-size: 0.4em;
}
.about{  
    margin: 20px 10px 0px 10px;
    padding: 0px 50px 50px 50px;
    text-align: center;
    background-color: #c0dfd9;
    outline-offset: 0pt;
    color: #3b3a36;
    font-size: 4em;
    }
    
.stuff{  
    margin: 20px 10px 0px 10px;
    padding: 0px 50px 50px 50px;
    text-align: center;
    background-color: #a8b6bf;
    outline-offset: 0pt;
    color: #3b3a36;
    font-size: 4em;
    }
.cool{  
    margin: 20px 10px 0px 10px;
    padding: 0px 50px 50px 50px;
    text-align: center;
    background-color: #c2dfff;
    outline-offset: 0pt;
    color: #3b3a36;
    font-size: 4em;
    }
.links{  
    margin: 20px 10px 0px 10px;
    padding: 0px 50px 50px 50px;
    text-align: center;
    background-color: #b0aac2;
    outline-offset: 0pt;
    color: #3b3a36;
    font-size: 4em;
    }
