body{
    background-color: #282828;
    text-align: left;
}
article{  
    padding: 100px 100px 100px 100px;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    background-color: #282828;
    outline-offset: 0pt;
    color: ghostwhite;
    font-size: 5em;
    }
img{
    opacity: 0.5;
    align-content: center;
    border: none;
}
img:hover{
    opacity: 1.0;
}

@keyframes straightLine {    
    0%{
        transform: translate(-100px,100px);
    }
    10%{
        transform: translate(200px,50px);
    }
    20% {
        transform: translate(300px,100px);
    }
    30% {
        transform: translate(400px,50px);
    }
    40% {
        transform: translate(500px,100px);
    }
    50%{
        transform: translate(600px,50px);
    }
    60% {
        transform: translate(700px,100px);
    }
    70% {
        transform: translate(800px,50px);
    }
    80% {
        transform: translate(900px,100px);
    }
    100% {
        transform: translate(1500px,50px);
    }
}
.dot {
    text-shadow: white;  
    text-align: left;
    padding: 0px 0px 0px 0px;
    transform-style: preserve-3d;
    animation: straightLine 1.9s infinite linear;
    font-weight: bold;    
}
