.dot1 {
  -webkit-animation: xAxis 5s infinite cubic-bezier(0.04, 0.02, 0.42, 2);
  animation: xAxis 5s infinite cubic-bezier(0.04, 0.02, 0.42, 2);
}
.dot1::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-animation: yAxis 3s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  animation: yAxis 3s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

@-webkit-keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
}

@keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
}

@-webkit-keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
}

@keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
}






body{
    background-color: #282828;
    
}
article{
    padding: 150px 150px 200px 150px;   
    text-align: center;
    font-family: 'Josefin Slab', serif;
    background-color: #282828;
    outline-offset: 0pt;
    color: ghostwhite;
    font-size: 5em;
}